<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.swproject.mapper.ViewMapper">
	<select id="allview" resultType="ViewVO">
		select ID, MyFeed, F_Time, F_Group
		from Feed
		union
		select N_Title, URL, C_Time, C_Group
		from Crawler
		union
		select S_Content, S_User, C_Time, C_Group
		from Crawler
	</select>
</mapper>